.contentP {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 2%;
  height: 60px;
  border-bottom: 1px solid rgb(97, 97, 97);
}
.bar {
  color: white;
  display: flex;
  align-items: center;
}
h1 {
  font-size: large;
}
.logo {
  width: 50px;
  height: 50px;
}
input {
  background-color: black;
  border: 1px solid rgba(115, 115, 115, 1);
  border-radius: 30px;
  outline: none;
}

.cherche {
  margin-left: -8%;
}

input::placeholder {
  text-align: center;
  background: transparent url("/src/icones/Search.png");
  background-position-x: 30%;
  background-repeat: no-repeat;
}
