.contenaireTabl {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

table {
    color: white;
    width: 100%;
    border-collapse: collapse;
    /* margin-left: -20%; */
}
.titresP {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    padding-bottom: 2%;
    margin-top: 2%;
}
.titres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
td img {
    width: 40px;
    height: 40px;
    padding: 0.5px;
}
.titres:hover {
    background-color: rgb(41, 41, 41);
}
