h2 {
  color: rgb(99, 99, 97);
  font-size: medium;
  width: 90%;
}
h1 {
  font-size: 20px;
}
.contentRencent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  margin-bottom: 5%;
}
.imag {
  margin-top: 4%;
  width: 160px !important;
  height: 160px !important;
}
.titreDuCont {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.modif {
  border-radius: 100px;
}
.affChm1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px !important;
  width: 170px !important;
  margin-bottom: 3%;

  box-shadow: 0 4px 8px 0 rgb(96, 96, 96);
  transition: 2s;
}
.titreRec {
  margin-left: 3%;
  width: 100%;
}
.titreRec1 {
  width: 100%;
  font-size: 15px;
}
.titreRec2 {
  width: 100%;
}
